<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net45" />
  <package id="AvalonEdit" version="4.3.1.9430" targetFramework="net45" />
  <package id="Caliburn.Metro.Autofac" version="0.4.0" targetFramework="net45" />
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net45" />
  <package id="ModernUI.WPF" version="1.0.5" targetFramework="net45" />
  <package id="reactiveui-core" version="5.2.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.90.0" targetFramework="net45" />
</packages>