[submodule "Source-External/YoutubeExtractor"]
	path = Source-External/YoutubeExtractor
	url = https://github.com/flagbug/YoutubeExtractor.git
[submodule "Source/cor3.core"]
	path = Source/cor3.core
	url = https://github.com/tfwio/cor3.core
	branch = master
[submodule "Source/cor3.data"]
	path = Source/cor3.data
	url = https://github.com/tfwio/cor3.data
	branch = master
[submodule "Source/cor3.stock"]
	path = Source/cor3.stock
	url = https://github.com/tfwio/cor3.stock
	branch = master
[submodule "Source/cor3.extensions"]
	path = Source/cor3.extensions
	url = https://github.com/tfwio/cor3.ext
	branch = master
[submodule "Source/cor3.parsers"]
	path = Source/cor3.parsers
	url = https://github.com/tfwio/cor3.par
	branch = master
[submodule "Source/cor3.forms"]
	path = Source/cor3.forms
	url = https://github.com/tfwio/cor3.forms
	branch = master
[submodule "Source/cor3.win"]
	path = Source/cor3.win
	url = https://github.com/tfwio/cor3.win
[submodule "Source/cor3.fx"]
	path = Source/cor3.fx
	url = https://github.com/tfwio/cor3.fx
