<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v2.0.50727" />
<!--		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />-->
		<!--<supportedRuntime version="v4.0"/>-->
	</startup>
</configuration>
